.theme-card-container {
  border: 1px solid black;
  width: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(229, 229, 229);
  cursor: pointer;
}

.theme-card-container:hover {
  background: rgb(86, 86, 235);
  color: white;
}
