.theme-card-container {
  border: 1px solid black;
  width: auto;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(229, 229, 229);
  cursor: pointer;
}

.button-left-icon {
  margin-right: 15px;
  height: 30px;
}

.theme-card-container:hover {
  background: rgb(86, 86, 235);
  color: white;
}
