.home-current-category {
  width: 550px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.home-menu {
  padding-left: 50px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 150px 150px;
}

.home-game-container {
  background: green;
  padding: 20px 50px;
  width: 450px;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-card-container {
  width: 200px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-game-header {
  display: flex;
}

.game-card-img {
  width: 175px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
}

.game-card-number {
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  cursor: pointer;
}

.game-button {
  border: 1px solid black;
  font-size: 20px;
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game-button:hover {
  background: rgb(86, 86, 235);
  color: white;
}

.home-game-answer {
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.home-game-cards {
  display: flex;
  justify-content: space-between;
}

.played-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-card {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(86, 192, 86);
  width: 200px;
  height: 300px;
}
