.translate-to-left {
  transition-duration: 2000ms;
  transform: translateX(-250px) rotateY(180deg);
  z-index: 2;
}

.translate-to-right {
  transition-duration: 800ms;
  transform: translateX(180px) rotateY(-180deg);
  z-index: 2;
}

.home-current-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 300px;
  padding: 20px 0px;
}

.home-current-category-text {
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}

.home-current-category-instruction {
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0px 20px 0px;
}

.home-container {
  height: 100vh;
}

.home-sub-container {
  padding: 20px;
}

.home-menu {
  display: grid;
  grid-template-columns: 150px 150px;
}

.home-game-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-bottom-card {
  position: absolute;
  width: 120px;
  border-radius: 10px;
}

.game-card-container {
  width: 120px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-card-container--animate {
  @extend .game-card-container;
  @extend .translate-to-right;
}

.home-game-header {
  display: flex;
}

.game-card-img {
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
}

.game-card-img--animate {
  @extend .game-card-img;
  @extend .translate-to-left;
}

.game-button {
  border: 0.5px solid black;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100px;
}

.game-button:hover {
  background: rgb(139, 139, 242);
  color: white;
}

.home-game-answer {
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.home-game-cards {
  display: flex;
  justify-content: space-between;
}

.played-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.empty-card {
  cursor: pointer;
  width: 130px;
}

.game-button-img {
  height: 30px;
  margin-right: 15px;
}

.view-answer-container {
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.view-answer-text {
}
